/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.sticker-box {
  position: relative;
}
.sticker-box > img {
  cursor: pointer;
}
.sticker-box.checked {
  background-color: #d0e9c6;
}
.sticker-checkbox-wrap {
  position: absolute;
  top: 0px;
  left: 7px;
}
